.box{ width: 900px;
	  height: 900px;
	  margin-right: auto;
	  margin-bottom: auto;
	  margin-left: auto;
	  margin-top: auto;
	}
.box>div{ width: 30%; 
		  height: 30%;
		  background: #ff9800;
		  margin-top: 2.5%;
		  margin-left: 2.5%;
		  float: left;
		  border-radius: 25px;

		}